:root {
    --qara-reng: #000;
    --google-rengi:#1a73e8;
}


.menu-icon {
    width: 24px;
    
}


header.header-section {
display: flex;
justify-content: flex-end;


}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 3px;
}


button.sign-in {
    background: var(--google-rengi);
    color:#fff;
    width: 127.78px;
    height: 36px;

    border: 1px solid transparent;
    border-radius: 4px;
}